<div class="container">
  <div class="item">
    <app-card
      [header]="saldosDisponiveisHeader"
      [itens]="saldosDisponiveisLoad.itens"
    ></app-card>
  </div>
  <div class="item">
    <app-card
      [header]="saldosCartaoDeDebitoHeader"
      [itens]="itensCartaoDebito.itens"
    ></app-card>
  </div>
  <div class="item">
    <app-card
      [header]="saldosCartaoDeCredito"
      [itens]="itensCartaoCredito.itens"
    ></app-card>
  </div>
  <div class="item">
    <app-card
      [header]="infoCliente"
      [itens]="infosCliente.itens"
      [backGroundColor]="'aqua'"
    ></app-card>
  </div>
</div>
