<div class="container">
  <div class="item">
    <app-card [itens]="itens"></app-card>
  </div>
  <!--
    <div class="item">
    <div class="balance-card">
      <div class="card-header">
        <div class="card-header_title">
          <div style="display: flex">
            <img src="icons/icon-hand.png" height="32px" width="32px" />
            <div style="margin-left: 8px">Saldos disponíveis</div>
          </div>
        </div>
        <div class="card-header_description">R$ 100,00</div>
      </div>
      <div class="card-item">
        <div class="card-item_title">Corrente</div>
        <div class="card-item_description">R$ 200,00</div>
      </div>
      <div class="card-item">
        <div class="card-item_title">Corrente Saldo Vinculados</div>
        <div class="card-item_description">R$ 300,00</div>
      </div>
      <div class="card-item">
        <div class="card-item_title">Poupança Saldo Vinculados</div>
        <div class="card-item_description">R$ 400,00</div>
      </div>
      <div class="card-item">
        <div class="card-item_title">Investimentos com Baixa Automática</div>
        <div class="card-item_description">R$ 500,00</div>
      </div>
      <div class="card-item">
        <div class="card-item_title">Investimentos sem Baixa Automática</div>
        <div class="card-item_description">R$ 500,00</div>
      </div>
      <div class="card-item top-resumo">
        <div class="card-item_title">Saldo Total</div>
        <div class="card-item_description">R$ 1000,00</div>
      </div>
      <div class="card-item bottom-resumo">
        <div class="card-item_title">Livre para movimentação</div>
        <div class="card-item_description">R$ 1000,00</div>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="credit-card">
      <div class="card-header">
        <div class="card-header_title">
          <div style="display: flex">
            <img src="icons/icon-credit-card.png" height="32px" width="32px" />
            <div style="margin-left: 8px">Cartão de Crédito</div>
          </div>
        </div>
        <div class="card-header_description"></div>
      </div>
      <div class="card-item">
        <div class="card-item_title">Limite de Compra</div>
        <div class="card-item_description">R$ 1000,00</div>
      </div>
      <div class="card-item sem-borda">
        <div class="card-item_title sem-borda">Disponível</div>
        <div class="card-item_description">R$ 1200,00</div>
      </div>
      <div class="card-item">
        <div class="card-item_title">Limite de Saque</div>
        <div class="card-item_description">R$ 2000,00</div>
      </div>
      <div class="card-item sem-borda">
        <div class="card-item_title">Disponível</div>
        <div class="card-item_description">R$ 1300,00</div>
      </div>
      <div class="card-item sem-borda">
        <div class="card-item_title">Limite Total Utilizado</div>
        <div class="card-item_description">R$ 3000,00</div>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="debit-card">
      <div class="card-header">
        <div class="card-header_title">
          <div style="display: flex">
            <img src="icons/icon-hand.png" height="32px" width="32px" />
            <div style="margin-left: 8px">Cartão de Débito</div>
          </div>
        </div>
        <div class="card-header_description"></div>
      </div>
      <div class="card-item sem-borda">
        <div class="card-item_title">
          Este cliente não possui Cartão de Débito
        </div>
        <div class="card-item_description"></div>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="client-infos-card">
      <div class="card-header card-header-background">
        <div class="card-header_title">
          <div style="display: flex">
            <img src="icons/icon-client.png" height="32px" width="32px" />
            <div style="margin-left: 8px">Informações do Cliente</div>
          </div>
        </div>
        <div class="card-header_description"></div>
      </div>
      <div class="card-item">
        <div class="card-item_title">Nome</div>
        <div class="card-item_description">Danilo Valerio da Silva</div>
      </div>
      <div class="card-item">
        <div class="card-item_title">Idade</div>
        <div class="card-item_description">37 anos</div>
      </div>
    </div>
  </div>
--></div>
